body {
	background-color: grey;
	margin: 0;
	padding: 0;
}
#top {
	background-color:lightblue;
	color:red;
	text-align:center;
	font-size:36px;
}
#section1 {
	background-color: lightgreen;
	margin: 15px;
	padding: 15px;
	border: 2px solid black;
}
#section2 {
	background-color: lightgreen;
	margin: 15px;
	padding: 15px;
	border: 2px solid black;
}
#section3 {
	background-color: lightgreen;
	margin: 15px;
	padding: 15px;
	border: 2px solid black;
}
h2 {
	color:blue;
	text-align:center;
	font-size:30px;
}
p {
	color:black;
	font-size:20px;
}
section li {
	list-style: none;
	font-weight: bold;
	text-align: center;
}
section p {
	color: black;
}
a:link, a:visited {
	text-decoration: none;
	background-color: lightgreen;
	border: 1px solid black;
	color: red;
	display: inline-block;
	width: 300px;
	text-align: center;
	margin: 1px;
}
a:hover, a:active {
	background-color: lightpink;
	color: white;
	cursor: pointer;
}