* {
	box-sizing: border-box;
}
body {
	background-color: grey;
	margin: 0;
	padding: 0;
}
#top {
	background-color:lightblue;
	color:red;
	text-align:center;
	margin: 0 0 20px 0;
	border: 3px solid black;
}
.City {
	background-color: lightskyblue;
	margin: 20px 150px 20px 150px;
	padding: 15px;
	border: 4px solid black;
	width: 80%;
	height: 380px;
	overflow: auto;
	position: relative;
}
h2 {
	color:red;
	text-align:center;
	font-size:30px;
}
p {
	color:black;
	font-size:20px;
}
.Headings {
	list-style: none;
	font-weight: bold;
	text-align: center;
	margin: 20px 150px 20px 150px;
	position: relative;
    bottom: 10px;
}
section p {
	color: black;
}
a:link, a:visited {
	text-decoration: none;
	background-color: lightgreen;
	color: blue;
	display: inline-block;
	width: 303.5px;
	text-align: center;
	border: 2px solid black;
	float: left;
}
a:hover, a:active {
	background-color: lightpink;
	color: white;
	cursor: pointer;
}
h4 {
	font-size: 30px;
	position: absolute;
	top: -30px;
	left: 885px;
}
h3 {
	margin: 0px 150px 20px 1060px;
	font-size: 30px;
	float: left;
}
